
@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";
@import "helpers";
@import "utilities/api";

.hero-section {
    background-size: cover;
    color: black;
    padding: 10px;
    text-align: center;
    padding: 100px 0;
  }
  .benefit-icon {
    font-size: 3rem;
    color: #ff5a5f;
  }
  .testimonial {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    margin: 15px 0;
  }
  .empoderate {
    color: #000000;
    margin: auto;

  }  
  .contacto{
    color: #000000;
    size: 200px;
  }
  .testimonial {
    margin-bottom: 2em;
  }
  .testimonial p {
    text-align: center;
  }
  @media (min-width: 768px) {
    .row {
      display: flex;
      align-items: center;
    }
  }



  .footer-custom {
    background-color: #000000; /* Cambia este color por el que prefieras */
    color: #ffffff;
    padding: 40px 0;
  }

  .footer-custom a {
    color: #ffffff;
    text-decoration: none;
  }

  .footer-custom a:hover {
    text-decoration: underline;
  }

  .footer-logo {
    max-width: 70%;
  }

  .sombreado{
    color: #e96e93;
  }
  .navbar-custom {
    background-color: #ffffff; 
  }

  .navbar-down {
    background-color: #000000; 
  }

  @media (max-width: 992px) {
    .navbar-brand {
      width: 100%;
      text-align: center;
    }
    .navbar-nav {
      text-align: center;
    }
  }

    .carousel-item img {
    width: 100%;
    max-height: 400px; /* Puedes ajustar esta altura según sea necesario */
    object-fit: cover; /* Cubre el área de la imagen manteniendo la proporción */
    object-position: center; /* Centra la imagen dentro del contenedor */
  }

  @media (max-width: 768px) {
    .carousel-item img {
      max-height: 300px; /* Altura ajustada para dispositivos más pequeños */
    }
  }

  @media (max-width: 576px) {
    .carousel-item img {
      max-height: 200px; /* Altura ajustada para dispositivos aún más pequeños */
    }
  }


  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }

  .card img {
  object-fit: contain;
  height: 250px;
  width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
  }

  .footer-custom {
    background-color: #000000; /* Cambia este color por el que prefieras */
    color: #ffffff;
    padding: 40px 0;
  }

  .footer-custom a {
    color: #ffffff;
    text-decoration: none;
  }

  .footer-custom a:hover {
    text-decoration: underline;
  }

  .footer-logo {
    max-width: 70%;
  }

  .fixed-icon {
    position: fixed;
    top: 95%;
    left: 89%;
    transform: translateY(-50%);
    z-index: 9999; /* Asegura que el ícono esté por encima de otros elementos */
    background-color: rgba(0, 226, 19, 0); /* Fondo blanco semi-transparente */
    border: 1px solid #e96e93; /* Borde del ícono */
    border-radius: 10px 0 0 10px; /* Bordes redondeados solo en la esquina derecha */
  }

  .fixed-icon img {
    width: 90px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  /* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
.fixed-icon {
    left: 70%; /* Ajusta la posición horizontal del ícono para pantallas más pequeñas */
}
}

@media (max-width: 480px) {
.fixed-icon {
    left: 60%; /* Ajusta la posición horizontal del ícono para pantallas muy pequeñas */
}


}
.justi{
text-align: justify;
}

/* style YANBAL*/

.benefits-section {
    text-align: center;
    margin: 50px 0;
}
.benefits-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.benefits-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.benefits-item {
    flex: 1 1 20%;
    margin: 10px;
    max-width: 250px;
}
.benefits-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.benefits-item h5 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.benefits-item p {
    font-size: 1rem;
    color: #555;
}

.justi{
    text-align: justify;
  }