.tarjeta{
  border: #777777 solid 2px;
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
box-shadow:  -10px -10px 11px #8f8f8f,
             10px 10px 11px #ffffff;
}
.titBorder{
  margin: 1% 15% 1% 15%;
  text-align: center;
  background: #f087a646;
  border: #0e0e0e solid 2px;
  border-radius: 15px;
}
.hero-section {
  background-size: cover;
  color: black;
  padding: 10px;
  text-align: center;
  padding: 100px 0;
}

.section {
  padding: 5px;
  color: red;

}

.benefit-icon {
  font-size: 3rem;
  color: #ff5a5f;
}

.testimonial {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  margin: 15px 0;
}

.empoderate {
  color: #000000;
  margin: auto;

}

.contacto {
  color: #000000;
  size: 200px;
}

.testimonial {
  margin-bottom: 2em;
}

.testimonial p {
  text-align: center;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    align-items: center;
  }
}

.footer-custom {
  background-color: #000000;
  /* Cambia este color por el que prefieras */
  color: #ffffff;
  padding: 40px 0;
}

.footer-custom a {
  color: #ffffff;
  text-decoration: none;
}

.footer-custom a:hover {
  text-decoration: underline;
}

.footer-logo {
  max-width: 70%;
}

.sombreado {
  color: #e96e93;
}

.navbar-custom {
  background-color: #ffffff;
}

.navbar-down {
  background-color: #000000;
}


@media (max-width: 992px) {
  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .navbar-nav {
    text-align: center;
 
  }

  .nav-item{
    border: #e03166 solid 1px;
    margin: 0.9%;
    background-color: #e96e93;
    border-radius: 15px;
    }
    .nav-item:hover{
      border: #e03166 solid 1px;
      
      background-color: #ffeaf0;
      border-radius: 15px;
      }
}
.carousel{
  -webkit-box-shadow: -14px 9px 29px -8px rgba(0,0,0,1);
  -moz-box-shadow: -14px 9px 29px -8px rgba(0,0,0,1);
  box-shadow: -14px 9px 29px -8px rgba(0,0,0,1);
}

.carousel-item img {
  width: 100%;
  max-height: 400px;
  /* Puedes ajustar esta altura según sea necesario */
  object-fit: cover;
  /* Cubre el área de la imagen manteniendo la proporción */
  object-position: center;
  /* Centra la imagen dentro del contenedor */
}

@media (max-width: 768px) {
  .carousel-item img {
    max-height: 300px;
    /* Altura ajustada para dispositivos más pequeños */
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    max-height: 200px;
    /* Altura ajustada para dispositivos aún más pequeños */
  }
}


.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.card img {
  object-fit: contain;
  height: 250px;
  width: 100%;
  /* Ajusta el tamaño de la imagen al contenedor */
}

.footer-custom {
  background-color: #000000;
  /* Cambia este color por el que prefieras */
  color: #ffffff;
  padding: 40px 0;
}


.footer-custom a {
  color: #ffffff;
  text-decoration: none;
}

.footer-custom a:hover {
  text-decoration: underline;
}

.footer-logo {
  max-width: 70%;
}

.fixed-icon {
  position: fixed; 
  top: 90%;
  /*Ubicacion del icono */
  left: 93%;
  transform: translateY(-50%);
  z-index: 9999;
  /*Peso del icono para que siempre este encima*/
  background-color: rgba(3, 253, 24, 0);
  /* Fondo blanco semi-transparente */
  border: 1px solid #e96e93;
  /* Borde del ícono */
  border-radius: 10px;
  /* Bordes redondeados solo en la esquina derecha */
}

.fixed-icon img {
  width: 80px;
  /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  /* Mantiene la proporción de la imagen */
}
.fixed-icon h6{
  font-size: medium;
}
.fixed-icon:hover {
  background-color: #f3a0b9;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 1555px) {
  .fixed-icon {
    left: 92%;
    
}
}
@media (max-width: 1100px) {
  .fixed-icon {
    left: 89%;
    
}

.fixed-icon h6{
  font-size: medium;
}

.fixed-icon img {
  width: 50px;
  /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  /* Mantiene la proporción de la imagen */
}
}

@media (max-width: 865px) {
  .fixed-icon {
    left: 87%;
    
}

.fixed-icon h6{
  font-size: medium;
}

.fixed-icon img {
  width: 50px;
  /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  /* Mantiene la proporción de la imagen */
}
}

@media (max-width: 768px) {
  .fixed-icon {
      left: 85%;
      
  }

  .benefits-row {

    flex-direction: column;
  }


}


@media (max-width: 715px) {
  .fixed-icon {
      left: 83%;
      
  }
  


}

@media (max-width: 580px) {
  .fixed-icon {
      display: none;
     
  }

}

.justi {
  text-align: justify;
}

/* style YANBAL*/

.benefits-section {
  text-align: center;
  margin: 50px 0;
}

.benefits-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.benefits-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.benefits-item {
  flex: 1 1 20%;
  margin: 10px;
  max-width: 250px;
}

.benefits-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.benefits-item h5 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.benefits-item p {
  font-size: 1rem;
  color: #555;
}

.justi {
  text-align: justify;
}

.butond{
  background-color: #5aff8c;
  color: #000000;
  border: #000000 solid 1px;
}
.butonc{
  background-color: #fcfcfc;
  color: black;
}

.butond:hover{
  background-color: #fd68a1;
  border: #ff004c solid 1px;
}
.butonc:hover{
  background-color: #f82c2c;
  color: rgb(255, 255, 255);
}

.text{
  text-transform: initial;
}

.tamano{
  height: 126px;
}

.caja{

  height: 1em;
}